[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
tabula-py = {extras = ["jpype"] }
python-multipart = "*"
pdftotext = "*"
openai = "*"
python-dotenv = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.11"
